.layout {
    padding: 1.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;

    &__main {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-height: 0;
    }
}