@use "../../styles/variables" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Hanken Grotesk", sans-serif;

  &__logo-and-text {
    display: flex;
    gap: 1.875rem;
    align-items: center;
  }

  &__logo {
    height: 4rem;
    width: 4rem;

    &-text {
      font-weight: 600;
      color: $green;
      font-size: 0.875rem;
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    &-links {
      display: flex;
      list-style: none;
      gap: 1.5rem;
      color: $green;
      font-size: 1rem;
    }

    &-link {
      cursor: pointer;
    }

    &-donate {
      margin-left: 2.75rem;
      margin-right: 3.125rem;
      padding: 0.875rem 1rem;
      border-radius: 0.5rem;
      border: none;
      background: #fb5075;
      background: linear-gradient(
        180deg,
        rgba(251, 80, 117, 1) 0%,
        rgba(255, 58, 61, 1) 100%
      );
      color: white;
      box-shadow: 5px 2px 15px 0px rgba(43, 40, 71, 0.25);
    }
  }
}
